<header>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Tasks Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tasks">Tasks</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/tags">Tags</a>
      </li>
      </ul>
      <span class="label label-default">Hello, </span> <button type="button" class="btn btn-outline-primary"><%= current_user.username %></button>
      <button type="button" class="btn btn-outline-primary"><%= link_to 'Account Settings', edit_user_registration_path %></button>
      <button type="button" class="btn btn-outline-primary"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></button>
    </div>
  </nav>

</header>