<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<button type="button" class="btn btn-outline-info"><%= link_to 'Show', @category %></button>
  <button type="button" class="btn btn-outline-info"><%= link_to 'Back', categories_path %></button>
